@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');


body {
  margin: 0 auto;
  min-height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #F4F5F7;
}

.mainContent {
  flex-grow: 1;
}

.container {
  max-width: 2000px;
  margin: 0 auto;
}

.container__login {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  min-width: 250px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 5px;
  box-shadow: 0px 5px 21px -5px #cdd1e1;
  z-index: 200;
}

.header__logo {
  margin-right: 30px;
}

.header__title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #243964;
}

.header__profile {
  margin-left: 500px;
  display: flex;
  align-items: center;
	

}

.header__profile i {
  font-size: 40px;
  color: #1F3BB3;
  cursor: pointer;
  margin-right: 20px;
 
}



.header__profile_name {
  margin-right: 20px;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
}

.wrapper__left {
  padding-top: 40px;
  background: #ffffff;
  min-height: 130vh;
  width: 260px;
}

.wrapper__center {
  max-width: 1550px;
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
}

.wrapper__center_top {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.wrapper__center_top_img {
  box-shadow: 4px 6px 15px 1px rgba(104, 104, 104, 0.76);
  border-radius: 25px;
  overflow: hidden;
  min-width: 750px;
  display: flex;
  justify-content: center;
  min-height: 450px;
  align-items: center;
  background: #ffffff;
}

.wrapper__center_top_blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 50px;
}

.wrapper__center_top_blocks_item {
  width: 320px;
  height: 140px;
  background: #1F3BB3;
  border-radius: 20px;
  padding: 10px 20px 20px 20px;
  box-shadow: 4px 6px 15px 1px rgba(104, 104, 104, 0.76);
  margin-bottom: 50px;
}

.wrapper__center_top_blocks_item:nth-child(1) {
  background: #7DA0FA;
}

.wrapper__center_top_blocks_item:nth-child(2) {
  background: #4747A1;
}

.wrapper__center_top_blocks_item:nth-child(3) {
  background: #7978E9;
}

.wrapper__center_top_blocks_item:nth-child(4) {
  background: #F3797E;
}

.wrapper__center_top_blocks_item_text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 19px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper__center_top_blocks_item_text i {
  font-size: 30px;
}

.wrapper__center_top_blocks_item_quantity {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 35px;
  color: #FFFFFF;
  padding-top: 10px;
}

.wrapper__center_low {
  margin-top: 50px;
}

.wrapper__center_low_bar {
  padding: 15px;
  box-shadow: 4px 6px 15px 1px rgba(104, 104, 104, 0.4);
  border-radius: 20px;
  width: 750px;
  box-sizing: border-box;
  background: #ffffff;
}

.wrapper__center_low_title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #1F1F1F;
  font-weight: 400;
  color: #243964;
}

.wrapper__center_low_subtitle {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #243964;
}

.wrapper__right {
  margin-top: 130px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper__right_login {
  width: 100%;
  max-width: 300px;
  background: #ffffff;
  padding: 40px 45px;
  box-shadow: 4px 6px 15px 1px rgba(104, 104, 104, 0.4);
  border-radius: 5px;
}

.wrapper__right_login h4,
.wrapper__right_login h6 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  color: #243964;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.wrapper__right_login h6 {
  font-size: 14px;
  max-width: 300px;
  margin-bottom: 10px;
  font-weight: 500;
  margin-bottom: 40px;

}

.wrapper__right_login_field {
  margin-bottom: 20px;
}

.wrapper__right_login_field input {
  border: 1px solid #dee2e6;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.wrapper__right_login_field_last {
  margin-bottom: 40px;
}

.wrapper__right_login_btns {
  display: flex;
  justify-content: center;
  align-items: center;

}

.wrapper__right_login_btns div {
  width: 100%;
}

.wrapper__right_login_btns_btn,
.wrapper__right_login_btns_forgot {
  background: #4B49AC;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 14px 40px;
  border-radius: 5px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  border: none;
  width: 100%;
}

.wrapper__right_login_btns_btn:hover,
.wrapper__right_login_btns_btn:focus,
.wrapper__right_login_btns_forgot:hover,
.wrapper__right_login_btns_forgot:focus {
  background: #192f8f;
  transition: 0.2s all;
}

.chart__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.other__wrapper {
  width: 250px;
}

.other__wrapper .accordion__wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
}

.other__wrapper .accordion__wrapper_item {
  width: 250px;
  box-sizing: border-box;
  background: #ffffff;
}

.other__wrapper .accordion__wrapper_item:hover,
.other__wrapper .accordion__wrapper_item:focus {
  background: #4747A1;
}

.other__wrapper .accordion__wrapper_item_link {
  text-decoration: none;
  color: #4747A1;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  display: block;
  width: 250px;
  box-sizing: border-box;
  height: 48px;
  padding-top: 15px;
  padding-left: 30px;
}

.other__wrapper .accordion__wrapper_item_link:hover,
.other__wrapper .accordion__wrapper_item_link:focus {
  color: #FFFFFF;
}

.other__wrapper .accordion__wrapper_item_link i {
  font-size: 17px;
  margin-right: 10px;
}

.other__wrapper .accordion__wrapper button {
  padding-top: 5px;
  padding-left: 30px;
  background: #ffffff;
}

.other__wrapper .accordion__wrapper button i {
  font-size: 15px;
  margin-right: 10px;
}

.other__wrapper .accordion__wrapper button:hover,
.other__wrapper .accordion__wrapper button:focus {
  background: #4747A1;
}

.other__accordion {
  background-color: #FFFFFF;
  color: #4747A1;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  width: 250px;
  border-radius: 0 20px 20px 0;
  height: 48px;
}

.other__accordion:hover,
.other__accordion:focus {
  background: #FFFFFF;
}

.other__accordion_plus:after {
  content: '\02795';
  font-size: 13px;
  color: #000000;
  float: right;
  margin-right: 15px;
}

.other__accordion_plus.active:after {
  content: "\2796";
}

.other__accordion_plus.active {
  background-color: #4f41f0;
  color: #FFFFFF;
}

.other__accordion_plus:hover,
.other__accordion_plus:focus {
  background: #4f41f0;
  color: #FFFFFF;
}

.other__accordion_info {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  max-width: 250px;
  box-sizing: border-box;
}

.other__accordion_info ul {
  padding: 0;
  padding-left: 20px;
}

.other__accordion_info ul li {
  margin-bottom: 5px;
  background: #FFFFFF;
  border-radius: 0 20px 20px 0;
  padding-left: 10px;
}

.other__accordion_info ul li:hover,
.other__accordion_info ul li:focus {
  background: #4747A1;
}

.other__accordion_info ul li a {
  text-decoration: none;
  color: #4747A1;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  font-family: "Roboto",
    sans-serif;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.other__accordion_info ul li a:hover,
.other__accordion_info ul li a:focus {
  color: #FFFFFF;
}

.other__accordion_info ul li a i {
  font-size: 17px;
  margin-right: 10px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.onePage__low {
  display: flex;
  justify-content: space-between;
}

.onePage__low_right {
  align-self: flex-end;
}

.onePage__low_right table {
  border-collapse: collapse;
  width: 750px;
  margin-bottom: 7px;
  height: 100px;
  box-shadow: 3px 4px 20px 4px rgba(47, 47, 47, 0.1);
}

.onePage__low_right table tr,
.onePage__low_right table td {
  border: 1px solid black;
}

.onePage__low_right table td {
  padding-left: 5px;
}

.onePage__low_right table tr:nth-child(1) {
  background: #a0aeb8;
}

.onePage__low_right table tr:hover,
.onePage__low_right table tr:focus {
  background: #d6d6d6;
}

.onePage__low_left div {
  max-width: 200px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.onePage__low_left h2 {
  font-size: 21px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  font-size: 38px;
  font-family: 'Roboto', sans-serif;
  color: #243964;
  margin: 0;
  margin-bottom: 20px;
}

.steps {
  padding-left: 80px;
  padding-bottom: 10px;
  padding-top: 7px;
}

.steps:nth-child(5) {
  border-bottom: 0;
}

.steps__btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.steps__btns input {
  margin-right: 20px;
  width: 175px;
  height: 45px;
  border-radius: 20px;
  background-color: #1F3BB3;
  border: none;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #ffffff;
}

.steps__btns input:last-child {
  margin-right: 0;
}

.steps__btns input:hover,
.steps__btns button:focus {
  background: #4747A1;
}

.steps select {
  width: 240px;
  height: 40px;
  border-radius: 15px;
  padding-left: 5px;
  font-size: 15px;
}

form label {
  display: inline-block;
  width: 65%;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #243964;
}

.TwoPage {
  padding-top: 60px;
  margin-bottom: 100px;
}

.TwoPage h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.TwoPage__wrapper {
 padding: 20px;
 background: white;
 box-shadow: 3px 4px 20px 4px rgba(47, 47, 47, 0.1);
 border-radius: 20px;
}

.TwoPage__wrapper table tr:nth-child(even) {
 background: #f2f2f2;
 border-top: 1px solid #dee2e6;
 border-bottom: 1px solid #dee2e6;
}

.TwoPage__wrapper table {
 border-collapse: collapse;
 width: 100%;
 height: 150px;
 font-family: 'Roboto', sans-serif;
}

.TwoPage__wrapper table td {
  padding-left: 5px;
  text-align: center;
}

.TwoPage__wrapper table td:first-child {
  text-align: left;
padding-left: 20px;
}

.TwoPage__wrapper table tr {
  height: 50px;
}

.TwoPage__wrapper table tr:first-child {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
}

.footer {
  background: #e6ecec;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  font-family: "Roboto",
    sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #8D8D8D;
  margin-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo img:first-child {
  margin-right: 20px;
} 

.invalid {
  border: 1px solid #cebbbd;
  padding: 7px;
  background: #fff6f5;
  color: #af341c;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.report_place_border {

    background: #ffffff;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 4px 6px 15px 1px rgb(104 104 104 / 40%);
    border-radius: 20px;

}
/*# sourceMappingURL=style.css.map */
