<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@mdi/font@6.2.95/css/materialdesignicons.min.css">
	<link type="text/css" href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet"  >
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
<script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>



	{% block title -%}
	{% if title %}
		<title> {{ title }}</title>
	{% else %}
		<title> Сайт </title>
	{% endif %}
	{% endblock %}
<head>
<body>
	{% block content -%}
		    <section class="header">
        <div class="header__hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="header__logo">
		<a href="{{ url_for('index')}}">
                 <img src="{{ url_for('static', filename='images/logo.jpg')}}" alt="Логотип">
            </a>
        </div>
        <div class="header__wrapper">
            <div class="header__title">
                Система аналитики Всероссийских проверочных работ в Алтайском крае
                <div class="header__title_subtitle">
                    КАУ ДПО "АЛТАЙСКИЙ ИНСТИТУТ ЦИФРОВЫХ ТЕХНОЛОГИЙ И ОЦЕНКИ КАЧЕСТВА ОБРАЗОВАНИЯ ИМЕНИ О.Р. ЛЬВОВА"
                </div>
            </div>
            <div class="header__profile">
                    {% if current_user.is_authenticated %}
                     <div class="header__profile_name">{{current_user.get_name()}}</div>
                    {% else %}
                    <div class="header__profile_name">Гость</div>
                    {% endif %}
    
                    {% if current_user.is_authenticated %}
                            <a href="{{ url_for('logout') }}">
			    <i class="mdi mdi-logout"></i>
                    {% else %}
                            <a href="{{ url_for('login') }}">
		            <i class="mdi mdi-account-circle"></i>
                    {% endif %}
    
                </a>
            </div>
        </div>
    </section>
    <div class="mainContent">
        <section class="wrapper">
		{% block other -%}
		{% endblock %}
        </section>
        </div>
	{% endblock -%}
    <section class="footer">
        <div class="footer__text">2021 © КАУ ДПО АИЦТиОКО имени О.Р. Львова</div>
        <div class="footer__logo">
            <a href="https://vpr22.22edu.ru/">
                <img src="{{ url_for('static', filename='images/footer_logo.png')}}" alt="Логотоип">
            </a>
            <a href="https://aictioko.ru/">
                <img src="{{ url_for('static', filename='images/aictiokoFooter_logo.png')}}" alt="Логотоип">
            </a>
        </div>
    </section>
</body>
</html>
