<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet"  >
	{% block title -%}
	{% if title %}
		<title> {{ title }}</title>
	{% else %}
		<title> Сайт </title>
	{% endif %}
	{% endblock %}
<head>
<body>
	{% block content -%}
		{%- block menu -%}
			<ul class="menu">
				{% for m in menu -%}
					{% set id, title, url = m%}
					<li> <a href="{{url}}">{{title}}</a> </li>					
				{% endfor -%}
			</ul>
		{% endblock menu -%}
	{% endblock -%}
</body>
</html>