{% extends 'base.html' %}

{% block other %}
{{ super() }}
{%- block menu -%}
<div class="wrapper__left accordion-mobile wrapper__left_map ">

        <div class="other__wrapper">

                <div class="accordion ">
                        <ul class="accordion__wrapper">
                                <li  class="other__accordion accordion__wrapper_item">
                                        <a class="accordion__wrapper_item_link" href="{{url_for('index')}}">
                                                <i class="mdi mdi-grid-large menu-icon"></i>
                                                Главная
                                        </a>
                                </li>
                                {% if current_user.is_authenticated %}
                                        <li class="other__accordion accordion__wrapper_item">
                                                <a class="accordion__wrapper_item_link" href="{{url_for('vpr_analysis')}}">
                                                        <i class="mdi mdi-file-document"></i>
                                                        Аналитика
                                                </a>
                                        </li>
					<li class="other__accordion accordion__wrapper_item">
                                                <a class="accordion__wrapper_item_link" href="{{url_for('task_description')}}">
                                                        <i class="mdi mdi-file-find"></i>
                                                        Описание заданий
                                                </a>
                                        </li>
					{% if  current_user.school_in_risk_access() %}
					 <li class="other__accordion accordion__wrapper_item">
                                                <a class="accordion__wrapper_item_link" href="{{url_for('school_in_risk')}}">
                                                        <i class="mdi mdi-school"></i>
                                                        Школы в зоне риска

                                                </a>
                                        </li>
					{% endif %}

							  
                                {% else %}
                                        <li class="other__accordion accordion__wrapper_item">
                                                <a class="accordion__wrapper_item_link" href="{{url_for('login')}}">
                                                        <i class="mdi mdi-account-key"></i>
                                                        Авторизация
                                                </a>
                                        </li>

                                {% endif %}
                        </ul>
                </div>
        </div>
        <div class="accordion-mobile__close">&times; </div>
</div>
{% endblock menu -%}
{%- block main -%}

{% endblock -%}
{% endblock -%}
