<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@mdi/font@6.2.95/css/materialdesignicons.min.css">
	<link type="text/css" href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet"  >
	{% block title -%}
	{% if title %}
		<title> {{ title }}</title>
	{% else %}
		<title> Сайт </title>
	{% endif %}
	{% endblock %}
<head>
<body>
	{% block content -%}
		    <section class="header">
        <div class="header__hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="header__logo">
		<a href="{{ url_for('index')}}">
                 <img src="{{ url_for('static', filename='images/logo.jpg')}}" alt="Логотип">
            </a>
        </div>
        <div class="header__title">
            Система аналитики Всероссийских проверочных работ в Алтайском крае
        </div>
        <div class="header__profile">
            <a href="{{ url_for('logout') }}">
                <i class="mdi mdi-account-circle"></i>
                
            </a>
            
        </div>
    </section>
    <div class="mainContent">
        <section class="wrapper">
	{%if menu%}
        <div class="wrapper__left">
            <section class="other">
            <div class="other__wrapper">
		
                <div class="accordion">
                    {%- block menu -%}
                        <ul class="accordion__wrapper">
                        
                            {% for m in menu -%}
                                {% set id, title, url = m%}
                                    <li  class="other__accordion accordion__wrapper_item">
                                        <a class="accordion__wrapper_item_link" href="{{url}}">
                                            <i class="mdi mdi-grid-large menu-icon"></i>
                                            {{title}}
                                        </a>
                                    </li>
                            {% endfor -%}
                        </ul>
                    {% endblock menu -%}
		
                </div>
            </div>
	{% else %}
		{% block other -%}
		{% endblock %}
	{% endif %}
        </section>
        </div>
	{% endblock -%}
</body>
</html>
