{% extends 'base_with_menu.html' %}

{% block main %}
{{ super() }}

            <div class="wrapper__center">
                <div class="wrapper__center_top">
                    <div class="wrapper__center_top_img">
                        <img src="{{ url_for('static', filename='images/main-banner.jpg')}}" alt="main-banner">
                    </div>
                    <div class="wrapper__center_top_blocks">
                        <div class="wrapper__center_top_blocks_item">
                            <div class="wrapper__center_top_blocks_item_text">
				Количество ОО
                                <i class="mdi mdi-account-multiple"></i>
                            </div>
                            <div class="wrapper__center_top_blocks_item_quantity">
                                {{count_of_oo}}
                            </div>
                        </div>
                        <div class="wrapper__center_top_blocks_item">
                            <div class="wrapper__center_top_blocks_item_text">
                                Количество участников в 2021
                                <i class="mdi mdi-city"></i>
                            </div>
                            <div class="wrapper__center_top_blocks_item_quantity">
                                {{count_of_students}}
                            </div>
                        </div>
                        <div class="wrapper__center_top_blocks_item">
                            <div class="wrapper__center_top_blocks_item_text">
                                Количество ОО участвующих в перепроверке
                                <i class="mdi mdi-book-open-page-variant"></i>
                            </div>
                            <div class="wrapper__center_top_blocks_item_quantity">
                                0
                            </div>
                        </div>
                        <div class="wrapper__center_top_blocks_item">
                            <div class="wrapper__center_top_blocks_item_text">
                                Количество участников в перепроверке
                                <i class="mdi mdi-book-open-page-variant"></i>
                            </div>
                            <div class="wrapper__center_top_blocks_item_quantity">
                                0
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chart__wrapper">
                    <div class="wrapper__center_low">
                        <div class="wrapper__center_low_bar">
                            <div class="wrapper__center_low_title">
                                Количество учащихся, принявших участие в ВПР
                            </div>
                            <div class="wrapper__center_low_subtitle">
                                Здесь можно сдедать будущее описание
                            </div>
                            <canvas id="myCharts"></canvas>
                        </div>
                        <div class="wrapper__center_low_title">
                        </div>
                        <div>
                            <canvas id="chartsThree"></canvas>
                        </div>
                        
                    </div>
                    <div class="wrapper__center_low">
                        <div class="wrapper__center_low_bar">
                            <div class="wrapper__center_low_title">
                                Количество учащихся, принявших участие в ВПР
                            </div>
                            <div class="wrapper__center_low_subtitle">
                                И тут тоже
                            </div>
                            <canvas id="myChartsTwo"></canvas>
                        </div>
                        <div class="wrapper__center_low_title">
                        </div>
                        <div>
                            <canvas id="chartsThreeTwo"></canvas>
                        </div>
                        
                    </div>
                </div>
               
            </div>
        </div>
    </section>
        
    </div>
    
    <section class="footer">
        <div class="footer__text">Место для текста</div>
        <div class="footer__logo">
            <img src="{{ url_for('static', filename='images/logo.jpg')}}" alt="Логотоип">
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script src="{{ url_for('static', filename='js/script_1.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
{% endblock %}  
