{% extends 'base.html' %}

{% block content %}
{{ super() }}
<section class="login">
    <div class="container__login">
        <div class="wrapper__right">
            <div class="wrapper__right_login">
                <h4>Привет!</h4>
                <h6>Войдите в систему, чтобы продолжить.</h6>
                <form action="" method="post" class="form-contact">
                    {{ form.hidden_tag() }}
                    <div class="wrapper__right_login_field">
                        {{form.login(placeholder= form.login.label.text, class_="form-control form-control-lg")}}
                    </div>
                    <div class="wrapper__right_login_field wrapper__right_login_field_last">
                        {{form.password(placeholder= form.password.label.text, class_="form-control form-control-lg")}}
                    </div>
                    <div class="wrapper__right_login_btns">
                        <div>
                            {{ form.submit(class_="wrapper__right_login_btns_btn") }}
                        </div>
                        <div>
                            <a href="#" class="wrapper__right_login_btns_forgot">Забыли пароль?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}  