{% extends 'base_with_menu.html' %}
{% block main %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<div class="wrapper__center">
        <section class="onePage">
            <div class="container">
                <h1>Всероссийские проверочные работы</h1>
		<div class="risk-descr">
		Необъективность результатов ВПР характеризует долю участников 
		этой оценочной процедуры, находящихся в зоне риска за счет того, 
		что в их ОО обнаружены признаки необъективности результатов 
		согласно методике, предоставленной ФИОКО <a href="{{ url_for('download', filename="Уровень_объективности_оценки_образовательных_результатов.pdf") }}">[ссылка]</a>

		</div>
                        <form action="" method="post" class="form-contact" id="vpr_form">
                                <div class="steps">
                                        <label for="district">Муниципалитет</label>
                                        <select id="district" name="district" required></select>
                                </div>

                                <div class="steps">
                                        <label for="oo">Образовательная организация</label>
                                        <select id="oo" name="oo" required></select>
                                </div>

                                <div class="steps">
                                        <label for="parallel">Параллель</label>
                                        <select id="parallel" name="parallel" required></select>
                                </div>

                                <div class="steps">
                                        <label for="subject">Дисциплина</label>
                                        <select id="subject" name="subject" required></select>
                                </div>

                        </form>
                        <div class="steps__btns">
                                <input class="bnt" id="submit_btn" name="submit_btn" type="button" value="Показать">
                                <input class="btn" id="clear_btn" name="clear_btn" type="button" value="Сброс">
                        </div>

			<div class="risk-message">Поверните экран для отображения отчета</div>
                </div>
        </section>
        <section class="risk" id="report_place">

        </section>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<script src="{{ url_for('static', filename='js/schools_in_risk.js')}}"></script>
<script src="{{ url_for('static', filename='js/hamburger.js')}}"></script>
{% endblock %}
