{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="" method="post" class="form-contact">
	{{ form.hidden_tag() }}
	{% for field in form if field.name not in ['csrf_token', 'submit'] %}

		<p class="steps">{{ field.label() }}

			{% if field.errors %}
				{{field(class="invalid")}}
				<span class="ivalid-feedback">
					{% for e in field.errors %}
					{{ e }}
					{% endfor %}
				</span>
			{% else %}
		 		{{ field() }}
		 	{% endif %}
	 {% endfor %}

	<p class="steps">{{ form.submit() }}
</form>
<script>
name_of_the_settlement_select = document.getElementById('name_of_the_settlement');
oo_select = document.getElementById('oo');
parallel_select = document.getElementById('parallel');
subject_select = document.getElementById('subject');

name_of_the_settlement_select.onchange = function(){
	name_of_the_settlement = name_of_the_settlement_select.value;
	fetch('oo/' + name_of_the_settlement).then(function(response){
		response.json().then(function(data) {
			optionHTML = '';
			for (oo of data.oo) {
				optionHTML += '<option value="' + oo.id+'">' + oo.name + '</option>'
			}
			oo_select.innerHTML = optionHTML;
		});
	});
}
</script>
{% endblock %}