body {
    margin: 0 auto;
    min-height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #F4F5F7;
}

.mainContent {
    flex-grow: 1;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.container {
    max-width: 2000px;
    margin: 0 auto;
}
.container__login {
    max-width: 1200px;
        margin: 0 auto;
}

@import 'header';
@import 'wrapper';
@import 'other';
@import 'footer';