{% extends 'admin/base_admin.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<hr>
<h2>Список статей</h2>
<ul class="list-posts"> 
{% for p in posts %}
<li>
<p class="title"> <a href="{{ url_for('showPost', id_post=p.id)}}">{{p.title}}</a></p>
<p class="anonce">{{ p.text[:70]}}</p>
<p class="title"> <a href="{{ url_for('.delete_post', id_post=p.id)}}">Удалить запись</a></p>
</li>
{% endfor %}
</ul>
{% endblock %}