{% extends 'admin/base_admin.html' %}

{% block content %}
{{ super() }}
<div id="login" class="wnd_dlg_back login_wnd">
<div class="login">
	<p class="title">Админ-панель</p>
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="" method="post" class="form-contact">
	{{ form.hidden_tag() }}
	{% for field in form if field.name not in ['csrf_token', 'submit'] %}

		<p>{{ field.label() }}

			{% if field.errors %}
				{{field(class="invalid")}}
				<span class="ivalid-feedback">
					{% for e in field.errors %}
					{{ e }}
					{% endfor %}
				</span>
			{% else %}
		 		{{ field() }}
		 	{% endif %}
	 {% endfor %}
	<p>{{ form.submit() }}
</form>
{% endblock %}